
	<footer id="footer">
		<ul class="nav">
			<li {eq name="c" value="Index"}class="active"{/eq} >
				<a href="{:url('Index/index')}">
					<i class="icon iconfont icon-home"></i><span>首页</span>
				</a>
			</li>
			<li {eq name="c" value="Order"}class="active"{/eq} >
				<a href="{:url('Order/index')}">
					<i class="icon iconfont icon-Order"></i><span>订单</span>
				</a>
			</li>
			<li {eq name="c" value="Member"}class="active"{/eq} >
				<a href="{:url('Member/index')}">
					<i class="icon iconfont icon-wode"></i><span>我的</span>
				</a>
			</li>
		</ul>
	</footer>
</body>
<script type="text/javascript" src="/static/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="/static/js/rem.js"></script>
<script type="text/javascript" src="/static/js/swiper.min.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>

</html>