{include file="pub/header"}
<header id="header">
	<i class="icon iconfont icon-jiantou" onclick="self.location=document.referrer;"></i>
	<p class="title">使用帮助</p>
</header>
<div id="main">
	<div class="user_info">
		<ul class="pro">
			<li><a href="">常见问题常见问题常见问题</a></li>
			<li><a href="">常见问题常见问题常见问题</a></li>
			<li><a href="">常见问题常见问题常见问题</a></li>
			<li><a href="">常见问题常见问题常见问题</a></li>
			<li><a href="">常见问题常见问题常见问题</a></li>
			<li><a href="">常见问题常见问题常见问题</a></li>
		</ul>
	</div>
</div>{include file="pub/footer"}