{include file="pub/header" /}
<header id="header">
	<i class="icon iconfont icon-jiantou" onclick="self.location=document.referrer;"></i>
	<p class="title">{$hdata['htitle']}</p>
	<i class="icon iconfont icon-zengjia"><a href="{:url('User/add_yhk')}" style="width: 0.4rem;height: 0.4rem;position: absolute;right: 0;top:0;"></a></i>
</header>
<div id="main" class="person_mian">
	<div class="user_info">
		<form action="{:url('User/tyj')}" method="post">
			<div class="tixan">
				<div class="psd_li">
			        <span>银行卡</span>
			        <select name="bankid">
			        	{volist name="ubanklist" id="vo"}
			        	<option value="{$vo['bank_id']}">{$vo['bank_name']}（{$vo['bank_number']|substr=-4,4}）</option>
			        	{/volist}
			        </select>
			   </div>
			</div>
			<input type="hidden" name="total_fee" value="{$info['yajin']}">
			<input type="hidden" name="body" value="{$hdata['htitle']}">
			<input type="hidden" name="uid" value="{$info['id']}">
			<button class="submit">确定</button>
		</form>
	</div>		
</div>
{include file="pub/footer2" /}