{include file="pub/header" /}

<script>
  function change_model() {
    var vdata = {
      'id': $('#model').val()
    };
    $.ajax({
      url: "{:url('ajax_get_model')}",
      type: 'get',
      data: vdata,
      success: function (res) {
        var html = '';
        var j;
        for (var i = 0; i < res.length; i++) {
          switch (res[i].type) {
            case 1:
              html += '<div class="kzsx">\n' +
              '\t\t\t\t\t<span class="kzsx_tit">' + res[i].name + '</span>\n';
              for (j = 0; j < res[i].value.length; j++) {
                html += '\t\t\t\t\t<span><input type="radio" name="attr_id_' + res[i].id + '" value="' + res[i].value[j] + '"/>' + res[i].value[j] + '</span>\n';
              }
              html += '\t\t\t\t</div>\n';
              break;
            case 2:
              html += '\t\t\t\t<div class="kzsx">\n' +
              '\t\t\t\t\t<span class="kzsx_tit">' + res[i].name + '</span>\n';
              for (j = 0; j < res[i].value.length; j++) {
                html += '\t\t\t\t\t<span><input type="checkbox" name="attr_id_' + res[i].id + '[]" value="' + res[i].value[j] + '"/>' + res[i].value[j] + '</span>\n';
              }
              html += '\t\t\t\t</div>\n';
              break;
            case 3:
              html += '\t\t\t\t<div class="kzsx">\n' +
              '\t\t\t\t\t<span class="kzsx_tit">' + res[i].name + '</span>\n' +
              '\t\t\t\t\t<select name="attr_id_' + res[i].id + '">\n';
              for (j = 0; j < res[i].value.length; j++) {
                html += '\t\t\t\t\t\t<option value="' + res[i].value[j] + '">' + res[i].value[j] + '</option>\n';
              }
              html += '\t\t\t\t\t</select>\n\t\t\t\t</div>\n';
              break;
            case 4:
              html += '\t\t\t\t</div>\n' +
              '\t\t\t\t<div class="kzsx">\n' +
              '\t\t\t\t\t<span class="kzsx_tit">' + res[i].name + '</span>\n' +
              '\t\t\t\t\t<span><input type="text" name="attr_id_' + res[i].id + '"/></span>\n' +
              '\t\t\t\t</div>';
              break;
            default:
              break;
          }
        }
        $('#attr').html(html);
      }
    });
  }
</script>
<script type="text/javascript">
  //px转换为rem
  (function (doc, win) {
    var docEl = doc.documentElement,
    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
    recalc = function () {
      var clientWidth = docEl.clientWidth;
      if (!clientWidth) return;
      if (clientWidth >= 640) {
        docEl.style.fontSize = '100px';
      } else {
        docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
      }
    };

    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
  })(document, window);

  function imgChange(obj1, obj2) {
    //获取点击的文本框
    var file = document.getElementById("file");
    //存放图片的父级元素
    var imgContainer = document.getElementsByClassName(obj1)[0];
    //获取的图片文件
    var fileList = file.files;
    //文本框的父级元素
    var input = document.getElementsByClassName(obj2)[0];
    var imgArr = [];
    //遍历获取到得图片文件
    for (var i = 0; i < fileList.length; i++) {
      var imgUrl = window.URL.createObjectURL(file.files[i]);
      imgArr.push(imgUrl);
      var img = document.createElement("img");
      img.setAttribute("src", imgArr[i]);
      var imgAdd = document.createElement("div");
      imgAdd.setAttribute("class", "z_addImg");
      imgAdd.setAttribute("name", "img[]");
      imgAdd.appendChild(img);
      imgContainer.appendChild(imgAdd);
    }
    ;
    imgRemove();
  };

  function imgRemove() {
    var imgList = document.getElementsByClassName("z_addImg");
    var mask = document.getElementsByClassName("z_mask")[0];
    var cancel = document.getElementsByClassName("z_cancel")[0];
    var sure = document.getElementsByClassName("z_sure")[0];
    for (var j = 0; j < imgList.length; j++) {
      imgList[j].index = j;
      imgList[j].onclick = function () {
        var t = this;
        mask.style.display = "block";
        cancel.onclick = function () {
          mask.style.display = "none";
        };
        sure.onclick = function () {
          mask.style.display = "none";
          t.style.display = "none";
        };

      }
    }
    ;
  };

</script>
<header id="header">
	<i class="icon iconfont icon-jiantou" onclick="self.location=document.referrer;"></i>
	<p class="title">{$hdata['htitle']}</p>
</header>
<div id="main" class="zhucemain addsp">
	<form action="{:url('add')}" method="post" enctype="multipart/form-data" onsubmit="return regCheckgys();">
		<ul class="cheinfo">
			<li>
				<label>商品名称</label>
				<input type="text" id="name" name="name">
			</li>
			<li>
				<label>关键词</label>
				<input type="text" id="search_words" name="search_words">
			</li>
			<li>
				<label>所属分类</label>
				<select name="cate_id" class="sel1">
					{volist name="cates" id="vo"}
					<option value="{$vo.id}" {if condition="!in_array($vo['id'],$child_ids)"}disabled="disabled"{/if}>{$vo.name

}</option>

					{/volist}
				</select>
			</li>
			<li>
				<label>商品排序</label>
				<input type="text" name="sort">
			</li>
			<li>
				<label>计量单位显示</label>
				<input type="text" name="unit">
			</li>
			<li>
				<label>库存</label>
				<input type="text" name="store_nums">
			</li>
			<li>
				<label>市场价格</label>
				<input type="text" name="market_price">
			</li>
			<li>
				<label>销售价格</label>
				<input type="text" name="sell_price">
			</li>
			<li>
				<label>成本价格</label>
				<input type="text" name="cost_price">
			</li>
			<li>
				<label>重量</label>
				<input type="text" name="weight">
			</li>
			<li>
				<label>商品模型</label>
				<select name="model_id" id="model" onchange="change_model()" class="sel1">
					<option value="0">通用类型</option>
					{volist name="models" id="v"}
					<option value="{$v.id}">{$v.name}</option>
					{/volist}
				</select>
			</li>
			<li id="attr">
				<label>扩展属性</label>
			</li>
			<li>
				<label>品牌</label>
				<select name="brand_id" class="sel1">
					{foreach $mlist as $v}
					<option value="{$v['id']}">{$v['name']}</option>
					{/foreach}
				</select>
			</li>

			<!--<li>
				<label>图片(一次可选多张)</label>
				<ul class="pic">
					<span><input type="file" class="pic1 imgup_show" multiple="multiple" name="img[]"/></span>
				</ul>
			</li>-->
			<li><label>图片(一次可选多张)</label>
				<ul class="pic">
					<div class="container">
						<!--    照片添加    -->
						<div class="z_photo">
							<div class="z_file">
								<input type="file" name="img[]" id="file" value="" accept="image/*" multiple onchange="imgChange('z_photo','z_file');"/>

							</div>

						</div>

						<!--遮罩层-->
						<div class="z_mask">
							<!--弹出框-->
							<div class="z_alert">
								<p>确定要删除这张图片吗？</p>
								<p>
									<span class="z_cancel">取消</span>
									<span class="z_sure">确定</span>
								</p>
							</div>
						</div>
					</div>
				</ul>
			</li>
			<input class="sub" type="submit" value="提交">
		</ul>
	</form>
</div>{include file="pub/footer" /}

