<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, user-scalable=0, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>特派员</title>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css">
		<link rel="stylesheet" href="css/index.css" type="text/css">

	</head>

	<body>
		<header id="header">
			<i class="icon iconfont icon-wode"><a href="person.html" style="width: 0.4rem;height: 0.4rem;position: absolute;left: 0;top:0;"></a></i>
			<p class="title">首页</p>
			<i class="icon iconfont icon-weixin"></i>
		</header>
		<div id="main">
			<div class="add">
				<span>我在：</span>
				
				<input class="diqu" type="text" placeholder="河南省郑州市金水区兰德中心">
				<i class="icon iconfont icon-miaozhun"></i>
			</div>
			<ul class="dingdannav">
				<li class="active">预约订单</li>
				<li>即时订单</li>
			</ul>
			<div class="dingdanlist">
				<ul class="ddlist yuyue">
					<li><a href="pricelist.html">
						<p>朝来万通批发市场</p>
						<p><strong>30 </strong>个订单</p>
					</a></li>
					<li><a href="pricelist.html">
						<p>朝来万通批发市场</p>
						<p><strong>30 </strong>个订单</p>
					</a></li>
					<li><a href="pricelist.html">
						<p>朝来万通批发市场</p>
						<p><strong>30 </strong>个订单</p>
					</a></li>
					<li><a href="pricelist.html">
						<p>朝来万通批发市场</p>
						<p><strong>30 </strong>个订单</p>
					</a></li>
					<li><a href="pricelist.html">
						<p>朝来万通批发市场</p>
						<p><strong>30 </strong>个订单</p>
					</a></li>
					<li><a href="pricelist.html">
						<p>朝来万通批发市场</p>
						<p><strong>30 </strong>个订单</p>
					</a></li>
					
					
				</ul>
				<ul class="ddlist jishi">
					<li><a href="pricelist.html">
						<p>朝来万通批发市场</p>
						<p><strong>30 </strong>个订单</p>
					</a></li>
					<li><a href="pricelist.html">
						<p>朝来万通批发市场</p>
						<p><strong>30 </strong>个订单</p>
					</a></li>
				</ul>
			</div>
		</div>
		<!--<div id="jiedan">
			<p class="on">开始接单</p>
			<p class="off">停止接单</p>
		</div>-->
		<div id="jiedan">
			<label class="button">
			  <input type="checkbox">
			  <span></span>
			  <span></span>
			  <span></span>
			</label>
		</div>

		<footer id="footer">
			<ul class="nav">
				<li class="active">
					<a href="index.html">
						<i class="icon iconfont icon-home"></i><span>首页</span>
					</a>
				</li>
				<li>
					<a href="prosingle.html">
						<i class="icon iconfont icon-Order"></i><span>订单</span>
					</a>
				</li>
				<li>
					<a href="person.html">
						<i class="icon iconfont icon-wode"></i><span>我的</span>
					</a>
				</li>
			</ul>
		</footer>
	</body>
	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<script src="js/rem.js" type="text/javascript"></script>
	<script src="js/swiper.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/script.js"></script>

</html>