<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, user-scalable=0, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>特派员</title>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css">
		<link rel="stylesheet" href="css/index.css" type="text/css">
		
	</head>

	<body>
		<header id="header">
			<i class="icon iconfont icon-fanhui" onclick="self.location=document.referrer;"></i>
			<p class="title">特派员</p>
			<i class="icon iconfont icon-gengduo"></i>
		</header>
		<div id="main" class="person_mian">
			<div class="person_top">
				<div class="per_t_l">
					头像
				</div>
				<div class="per_t_m">
					<p>李先生</p>
					<p>124334413432</p>
					<p><span>暂停接单</span></p>
				</div>
				<div class="per_t_r">
					<a href="user_zlbj.html"><img src="images/pen_03.png" alt=""/></a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="person_mid">
				<h3>我的钱包</h3>
				<p>我的押金：￥1500
					<a href="user_tyj.html" title="">退押金</a>
				</p>
				<p class="per_last_p">银行卡：（<span>2</span>张）
					<a href="user_yhk.html" title=""><img src="images/plus_07.png" alt=""/></a>
				</p>
				<p>我的余额：<span>￥15000</span><a href="user_tx.html" title="">提现</a></p>
				<p class="per_last_p">查看明细：
					<a href="user_zhmx.html" title="">></a>
				</p>
			</div>
			<div class="person_mid person_btm">
				<h3>使用帮助</h3>
				<p class="per_last_p">客服中心：
					<a href="" title=""><img src="images/contact_11.png" alt=""/></a>
				</p>
				<p class="per_last_p">常见问题：
					<a href="" title="">></a>
				</p>
				<p class="per_last_p">关于我们：
					<a href="" title="">></a>
				</p>
			</div>		
		</div>
		<footer id="footer">
			<ul class="nav">
				<li>
					<a href="index.html">
						<i class="icon iconfont icon-home"></i><span>首页</span>
					</a>
				</li>
				<li>
					<a href="prosingle.html">
						<i class="icon iconfont icon-Order"></i><span>订单</span>
					</a>
				</li>
				<li  class="active">
					<a href="person.html">
						<i class="icon iconfont icon-wode"></i><span>我的</span>
					</a>
				</li>
			</ul>
		</footer>
	</body>
	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<script src="js/rem.js" type="text/javascript"></script>
	<script src="js/swiper.min.js" type="text/javascript"></script>
	<script type="teopxt/javascript" src="js/script.js"></script>

</html><!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	</body>
</html>
