<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, user-scalable=0, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>特派员</title>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css">
		<link rel="stylesheet" href="css/index.css" type="text/css">
		
	</head>

	<body>
		<header id="header">
			<i class="icon iconfont icon-fanhui" onclick="self.location=document.referrer;"></i>
			<p class="title">特派员</p>
			<i class="icon iconfont icon-gengduo"></i>
		</header>
		<div id="main">
			<div class="prosingle_top">
				<a href="prosingle.html"><span class="sel_sp">全部订单</span></a>
				<a href="prosingle_w.html"><span>未完成订单</span></a>
				<a href="prosingle_y.html"><span>已完成订单</span></a>
			</div>
			<div class="maincontent">	
				<div class="order_list prosingle_main" >
					<div class="order" style="border: 0;">
						<p class="order1"><i class="icon iconfont icon-juli2"></i><span>7.8km</span>
								北京市朝阳区望京西路							
						</p>
						<!--<p><span>订单号：1234567678</span><span>收货时间：2017/09/07 10:00</span></p>-->
						<div class="o_left">
							<p>收货时间：<span>2017/09/07 </span></p>
							<p>订单号：<span>21234567678 </span></p>
							<p>重量：<span>60KG</span>&nbsp;&nbsp;&nbsp;运费：<span style="color: red;">20</span>元</p>
							<b>易碎、易压</b>	
							<div class="clear"></div>
						</div>
						<div class="o_right">
							<a href="dingdan.html" title="" class="qiangdanzhong ddxq">订单详情</a>
						</div>
						<div class="clear"></div>
					</div>
					<ul class="spinfo" style="border: 0;">
						<li>
							<div class="spleft">
								<div class="sppic"><img src="images/pic_title_03.png"></div>
								<div class='spxq'>
									<p>商品1</p>
									<p>商品详情</p>
									<p>30KG/包</p>
								</div>
							</div>
							<div class="spright">
								<p>X1</p>
								<p style="color: #ffd419;">￥30</p>
							</div>
						</li>
						<li>
							<div class="spleft">
								<div class="sppic"><img src="images/pic_title_03.png"></div>
								<div class='spxq'>
									<p>商品1</p>
									<p>商品详情</p>
									<p>30KG/包</p>
								</div>
							</div>
							<div class="spright">
								<p>X1</p>
								<p style="color: #ffd419;">￥30</p>
							</div>
						</li>
					</ul>
					
					<div class="pro_top yz01">
						<dl>
							<dt><span ></span></dt>
							<dd>已接单</dd>
						</dl>
						<dl class="active1">
							<dt><span></span></dt>
							<dd>已取货</dd>
						</dl>
						<dl class="hui">
							<dt><span></span></dt>
							<dd>待送货</dd>
						</dl>
						<dl class="hui">
							<dt><span></span></dt>
							<dd>待收货</dd>
						</dl>
					</div>
				</div>
				<div class="order_list prosingle_main" >
					<div class="order" style="border: 0;">
						<p class="order1"><i class="icon iconfont icon-juli2"></i><span>7.8km</span>
								北京市朝阳区望京西路							
						</p>
						<!--<p><span>订单号：1234567678</span><span>收货时间：2017/09/07 10:00</span></p>-->
						<div class="o_left">
							<p>收货时间：<span>2017/09/07 </span></p>
							<p>订单号：<span>21234567678 </span></p>
							<p>重量：<span>60KG</span>&nbsp;&nbsp;&nbsp;运费：<span style="color: red;">20</span>元</p>
							<b>易碎、易压</b>	
							<div class="clear"></div>
						</div>
						<div class="o_right_yiwanc">已完成</div>
						<div class="clear"></div>
					</div>
					
				</div>
			</div>
			
		</div>
		<footer id="footer">
			<ul class="nav">
				<li>
					<a href="index.html">
						<i class="icon iconfont icon-home"></i><span>首页</span>
					</a>
				</li>
				<li class="active">
					<a href="prosingle.html">
						<i class="icon iconfont icon-Order"></i><span>订单</span>
					</a>
				</li>
				<li>
					<a href="person.html">
						<i class="icon iconfont icon-wode"></i><span>我的</span>
					</a>
				</li>
			</ul>
		</footer>
	</body>
	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<script src="js/rem.js" type="text/javascript"></script>
	<script src="js/swiper.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/script.js"></script>

</html>
