<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, user-scalable=0, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>特派员</title>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css">
		<link rel="stylesheet" href="css/index.css" type="text/css">
		
	</head>

	<body>
		<header id="header">
			<i class="icon iconfont icon-fanhui" onclick="self.location=document.referrer;"></i>
			<p class="title">特派员</p>
			<i class="icon iconfont icon-gengduo"></i>
		</header>
		<div id="main">
			<div class="pro_top yz">
				<dl class="active2">
					<dt><span></span></dt>
					<dd>实名验证</dd>
				</dl>
				<dl class="active2">
					<dt><span></span></dt>
					<dd>手机验证</dd>
				</dl>
				<dl class="active2">
					<dt><span></span></dt>
					<dd>预存押金</dd>
				</dl>
				<dl class="active2">
					<dt><span></span></dt>
					<dd>注册完成</dd>
				</dl>
			</div>
			<div class="zc_succ">
				<div class="zc_s_con">
					<img src="images/zc_03.png" alt=""/>
					特派员注册成功！
				</div>
				<button>确认</button>
			</div>
			
			
		</div>
		<!--<footer id="footer">
			<ul class="nav">
				<li class="active"><i class="icon iconfont icon-home"></i><span>首页</span></li>
				<li><i class="icon iconfont icon-Order"></i><span>订单</span></li>
				<li><i class="icon iconfont icon-wode"></i><span>我的</span></li>			
			</ul>
		</footer>-->
	</body>
	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<script src="js/rem.js" type="text/javascript"></script>
	<script src="js/swiper.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/script.js"></script>

</html>