<footer id="footer">
	<ul class="nav navb">
		<li {if condition="$foot eq 1" } class="cur" {/if}>
		<a href="{:url('Index/index')}">
			<i class="icon iconfont icon-shouye"></i><span>首页</span>
		</a>
		</li>
		<li {if condition="$foot eq 2" } class="cur" {/if}>
		<a href="{:url('Product/index')}">
			<i class="icon iconfont icon-product"></i><span>产品</span>
		</a>
		</li>
		<li {if condition="$foot eq 3" } class="cur" {/if}>
		<a href="{:url('Order/index')}">
			<i class="icon iconfont icon-dingdan"></i><span>订单</span>
		</a>
		</li>
		<li {if condition="$foot eq 4" } class="cur" {/if}>
		<a href="{:url('User/index')}">
			<i class="icon iconfont icon-wode"></i><span>我的</span>
		</a>
		</li>
	</ul>
</footer>

</body>
<script type="text/javascript" src="/gys/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="/gys/js/rem.js"></script>
<script type="text/javascript" src="/gys/js/swiper.min.js"></script>
<script type="text/javascript" src="/gys/js/script.js"></script></html>