<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, user-scalable=0, width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<title>供应商</title>
	<link rel="stylesheet" type="text/css" href="/gys/css/iconfont.css">
	<link rel="stylesheet" type="text/css" href="/gys/css/index.css">
	<link rel="stylesheet" type="text/css" href="/gys/css/style_gys.css">
</head>

<body>